/* ikiwiki local style sheet */

/* @import url('/css/pgnvjs.css'); */

/* Add local styling here, instead of modifying style.css. */

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.clearfix {
    overflow: auto;
}

img.kaissa {
    float: center;
    width:230px;height:330px;margin-left:0px;margin-right:20px;
}

b.kaissa {
    float: center;
    font-variant: common-ligatures small-caps;
}

li.wert {
    display: inline-block;
}

.smallPC {
    color: #e83e8c;
    float: center;
    display: inline-block;
}

.smallestPC {
    float: center;
    display: inline-block;
}

.under-construction {
    font-size: 1900%;
}

li.list-group-item.bg-dark.text-white > a {
    color: #e83e8c;
    text-align: justify;
    text-justify: inter-word;
    font-weight: bold;
}

i.fa-heart {
    color: #e83e8c;
}

i.fa-heart-o {
    color: #e83e8c;
}

li {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 1.0rem;
}

li a {
    display: block;
    padding: .5rem 1rem;
    color: #e83e8c;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  border: 1px solid transparent;
  border-top-left-radius: .50rem;
  border-top-right-radius: .50rem;
}

h2 {
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-top-left-radius: .50rem;
  border-top-right-radius: .50rem;
  color: #e83e8c;
}
